OWNER=duman-sadu

# PostgreSQL
DATABASE_HOST=database
DATABASE_PORT=5432
DATABASE_USERNAME=film_user
DATABASE_PASSWORD=student
DATABASE_NAME=prac

# pgAdmin
PGADMIN_DEFAULT_EMAIL=postgres@localhost.net
PGADMIN_DEFAULT_PASSWORD=admin

# Backend
PORT=3000
DATABASE_DRIVER=postgres
TYPEORM_SYNCHRONIZE=false
