# driver: mongodb | postgres
DATABASE_DRIVER=postgres

# PostgreSQL
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=film_user
DATABASE_PASSWORD=student
DATABASE_NAME=prac
TYPEORM_SYNCHRONIZE=true

# Mongo (если оставляете поддержку mongodb)
DATABASE_URL=mongodb://localhost:27017/prac

PORT=3000