version: '3.8'
services:
postgres:
image: postgres:15
restart: always
environment:
POSTGRES_USER: film_user
POSTGRES_PASSWORD: film_pass
POSTGRES_DB: film_db
ports:
- "5432:5432"
volumes:
- pgdata:/var/lib/postgresql/data
volumes:
pgdata: